.footer {
  width: 100%;
  min-width: 450px;
  height: 100px;
  background-image: linear-gradient(130deg, #00416A, #1B5581, #4475A6, #1b5581);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer>h4 {
  color: #fcba32;
  font-family: 'Lobster', cursive;
  font-size: 1.3em;
  text-shadow: 1px 1px 15px#002c47;
}